functions-framework==3.*
requests==2.*
sqlalchemy==2.*
cloud-sql-python-connector[pg8000]==1.*
gunicorn>=22.0.0
google-cloud-secret-manager==2.20.*
firebase-admin==6.5.*
slack_sdk==3.31.0
pillow==10.1.0