name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build and Test
      run: ./gradlew build --stacktrace
    - name: Lint
      run: ./gradlew lint
    - name: Check and report lint results
      uses: hidakatsuya/action-report-android-lint@v1.2.0
      with:
        result-path: 'app/build/reports/lint-results-debug.xml'
    # https://github.com/actions/upload-artifact
    #- name: Upload a Build Artifact
    #  uses: actions/upload-artifact@v4.3.3
    #  path: <enter path>