name: Refresh PGA Data

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USERNAME: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r gcp/cloud-functions/refresh-pga-data/requirements.txt
    - name: Wait for Postgres to be ready
      run: |
        until pg_isready -h localhost -p 5432; do
          echo "Waiting for Postgre to be ready..."
          sleep 2
        done
    - name: Install Sqitch
      run: |
        sudo apt-get update
        sudo apt-get install -y sqitch
    - name: Apply Sqitch migrations
      working-directory: gcp/migrations
      env:
        PGUSER: postgres
        PGPASSWORD: postgres
        PGHOST: localhost
        PGPORT: 5432
        PGDATABASE: postgres
      run: |
        sqitch deploy db:pg://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$PGDATABASE
    - name: Test with pytest
      env:
        DB_USER: postgres
        DB_PASSWORD: postgres
        DB_HOST: postgres
        DB_PORT: 5432
        DB_NAME: postgres
      run: |
        pip install pytest pytest-cov pytest-mock pytest-env
        pytest gcp/cloud-functions/refresh-pga-data/test_main.py --doctest-modules --junitxml=junit/gcp/cloud-functions/refresh-pga-data/test-results.xml --cov=main --cov-report=xml --cov-report=html
    - name: Lint with Ruff
      run: |
        pip install ruff
        ruff check --output-format=github gcp/cloud-functions/refresh-pga-data
    - name: Upload pytest test results
      uses: actions/upload-artifact@v4
      with:
        name: pytest-results
        path: junit/gcp/cloud-functions/refresh-pga-data/test-results.xml
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}